{% extends "base.html" %}
{% block content %}        
<div class="contentBody">
  <div class="form">
    <h2>
      Start a free game of PvP Stratego!
    </h2>
    <h4> 
      To start a game please provide your email address, color/side preference,
      opponent's email address, and the value of the captcha image.
    </h4>
    <h4>
      Game board links will be sent to the provided email addresses.
    </h4> 
    <div class="clear"></div>
    <form name="createForm" id="createForm">
      <div class="formHeader">Your email</div>
      <input type="text" name="playerEmail" id="playerEmail" />
      <div class="clear"></div>
      <div class="formHeader">Your color/side</div>
      <select name="playerColor">
        <option value="">Select...</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
      </select>	
      <div class="clear"></div>
      <div class="formHeader">Opponent's email</div>      
      <input type="text" name="opponentEmail" />
      <div class="clear"></div>
      <br/>
      <br/>
      <div class="formHeader">
        <img id="captcha" src="/captcha" />
      </div>
      <input type="text" name="captchaValue" />
      <br />
      <input type="button" value="Regenerate Captcha" id="regenCaptcha" />
    </form>
    <div class="clear"></div>
    <input type="button" class="gameButton" value="START GAME" id="createGameButton" />
  </div>
  <img  src="/media/images/ipad.png" id="ipadImage" />
  <div class="clear"></div>
</div>
<div class="clear"></div>
{% endblock %}
